{% extends 'catalogo/base.html' %}

{% block title %}Nosotros - Cafetería{% endblock %}

{% block content %}
<div class="container py-5 mt-4">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="display-4 font-playfair mb-4">Nuestra Historia</h1>
            <p class="lead text-muted">Somos más que una cafetería en Chiguayante; somos un punto de encuentro para almas nómades.</p>
            <p>Aquí puedes agregar todo el texto sobre cómo nació Nomade Café, la pasión por los granos tostados, la calidad del servicio y la visión de la empresa.</p>
        </div>
        <div class="col-md-6">
            <img src="https://images.pexels.com/photos/302899/pexels-photo-302899.jpeg?auto=compress&cs=tinysrgb&w=800" class="img-fluid rounded-4 shadow">
        </div>
    </div>
</div>
{% endblock content %}