{% extends 'catalogo/base.html' %}

{% block content %}

<div class="container py-5 mt-4">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="display-4 font-playfair mb-4">Nuestro Café</h1>
            <p class="lead text-muted">El olor al café, a unos granos recién tostados, es la mejor bienvenida que cada día planificamos para brindarles cuando abrimos las puertas de nuestras tiendas. Pero eso es sólo el comienzo.</p>
            <p>De cuerpo entero, un poco ahumado, con notas cítricas, con fuerte presencia de chocolate…el desafío que tenemos constantemente es que cada uno de nuestros clientes encuentre su mezcla favorita y a la vez, que explore nuestras amplias selecciones más singulares. 
            Para alcanzarlo nos abastecemos de los mejores granos de café arábicos siguiendo siempre estrictos principios éticos.</p>
        </div>
        <div class="col-md-6">
            <img src="https://images.pexels.com/photos/302899/pexels-photo-302899.jpeg?auto=compress&cs=tinysrgb&w=800" class="img-fluid rounded-4 shadow">
        </div>
    </div>
</div>


{% endblock content %}