{% extends 'catalogo/base.html'%}

{% block content %}
<section class="gradient-custom">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-7 col-lg-5 col-xl-4">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <form>
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="typeText" class="form-control form-control-lg" placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                  <label class="form-label" for="typeText">Numero de tarjeta</label>
                </div>
                <img src="https://img.icons8.com/color/48/000000/visa.png" width="50px" />
              </div>

              <div class="d-flex justify-content-between align-items-center mb-4">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="typeName" class="form-control form-control-lg" siez="17" placeholder="Cardholder's Name" />
                  <label class="form-label" for="typeName">Titular de la tarjeta</label>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center pb-2">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" class="form-control form-control-lg" placeholder="MM/YYYY" size="7" minlength="7" maxlength="7"/>
                  <label class="form-label">Fecha expiracion</label>
                </div>
                <div data-mdb-input-init class="form-outline">
                  <input type="password" id="typeText2" class="form-control form-control-lg"
                    placeholder="***" size="1" minlength="3" maxlength="3" />
                  <label class="form-label" for="typeText2">CVV</label>
                </div>
                <a href="{% url 'pago_exitoso' %}" class="btn btn-info btn-lg btn-rounded">Comprar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content%}