{% extends 'catalogo/base.html' %}

{% block content %}
<div class="container py-5 mt-4">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="display-4 font-playfair mb-4">Ubicación</h1>
            <p class="lead text-muted">Las Condes 41, local b, 4101515 Chiguayante, Bío Bío</p>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1127.6498267250424!2d-73.02603921471389!3d-36.926811232678844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9669b98a22696261%3A0xf975df55842f204e!2zTsOzbWFkZSBLYWbDqQ!5e0!3m2!1ses-419!2scl!4v1778545943553!5m2!1ses-419!2scl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock content %}